.box {
    width: 300px;
    height: 300px;
    border: 1px solid;
    transform: skewX(40deg);
    -webkit-transform: skewX(40deg);
    -moz-transform: skewX(40deg);
    -ms-transform: skewX(40deg);
    -o-transform: skewX(40deg);
}